@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// .editor-container {
//   .editor-container_classic-editor {
//   }
//   .editor-container_include-style {
//   }
//   .editor-container_include-block-toolbar {
//   }
// }

.ck-content {
  font-family: 'Lato';
  line-height: 1.6;
  word-break: break-word;

  &.ck-editor__editable {
    min-height: max(calc(100dvh - 137.22px), 32rem) !important;
  }

  & h1 {
    font-size: 3rem;
    line-height: 1;
  }

  & h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;

    &.document-title {
      font-family: 'Oswald';
      font-size: 50px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  & h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;

    &.category {
      font-family: 'Oswald';
      font-size: 20px;
      font-weight: bold;
      color: #555;
      letter-spacing: 10px;
      margin: 0;
      padding: 0;
    }

    &.document-subtitle {
      font-family: 'Oswald';
      font-size: 20px;
      color: #555;
      margin: 0 0 1em;
      font-weight: bold;
      padding: 0;
    }
  }

  & h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  & h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  & h6 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  & p.info-box {
    --background-size: 30px;
    --background-color: #e91e63;
    padding: 1.2em 2em;
    border: 1px solid var(--background-color);
    background: linear-gradient(
        135deg,
        var(--background-color) 0%,
        var(--background-color) var(--background-size),
        transparent var(--background-size)
      ),
      linear-gradient(
        135deg,
        transparent calc(100% - var(--background-size)),
        var(--background-color) calc(100% - var(--background-size)),
        var(--background-color)
      );
    border-radius: 10px;
    margin: 1.5em 2em;
    box-shadow: 5px 5px 0 #ffe6ef;
  }

  & blockquote.side-quote {
    font-family: 'Oswald';
    font-style: normal;
    float: right;
    width: 35%;
    position: relative;
    border: 0;
    overflow: visible;
    z-index: 1;
    margin-left: 1em;

    &::before {
      content: '“';
      position: absolute;
      top: -37px;
      left: -10px;
      display: block;
      font-size: 200px;
      color: #e7e7e7;
      z-index: -1;
      line-height: 1;
    }

    & p {
      font-size: 2em;
      line-height: 1;
    }

    & p:last-child:not(:first-child) {
      font-size: 1.3em;
      text-align: right;
      color: #555;
    }
  }

  & span {
    &.marker {
      background: yellow;
    }

    &.spoiler {
      background: #000;
      color: #000;
    }

    &.spoiler:hover {
      background: #000;
      color: #fff;
    }
  }

  & pre {
    &.fancy-code {
      border: 0;
      margin-left: 2em;
      margin-right: 2em;
      border-radius: 10px;
    }

    &.fancy-code::before {
      content: '';
      display: block;
      height: 13px;
      background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NCAxMyI+CiAgPGNpcmNsZSBjeD0iNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGMzZCNUMiLz4KICA8Y2lyY2xlIGN4PSIyNi41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiNGOUJFNEQiLz4KICA8Y2lyY2xlIGN4PSI0Ny41IiBjeT0iNi41IiByPSI2LjUiIGZpbGw9IiM1NkM0NTMiLz4KPC9zdmc+Cg==);
      margin-bottom: 8px;
      background-repeat: no-repeat;
    }

    &.fancy-code-dark {
      background: #272822;
      color: #fff;
      box-shadow: 5px 5px 0 #0000001f;
    }

    &.fancy-code-bright {
      background: #dddfe0;
      color: #000;
      box-shadow: 5px 5px 0 #b3b3b3;
    }
  }
}
